/* 
  black: rgb(0, 23, 50); #001732;
  orange: rgb(241, 117, 78); #f1754e;
  bg-color: rgb(216, 238, 232);  #d8eee8;
  bg-dark-color: rgb(203, 224, 221); #cbe0dd;
  clicked-cell: rgb(157, 197, 199); #9dc5c7;
  transparent red: rgba(241, 117, 78, 0.7);

  font-family: 'Darker Grotesque', sans-serif;
  font-family: 'Press Start 2P', cursive;
*/

/* # Generic */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  background-color: rgb(216, 238, 232);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 16px;
  font-family: 'Darker Grotesque', sans-serif;
  line-height: 1;
  background-image: url('images/_4a853c14-782b-4c4c-85cc-0380d50247a9.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;

}

.prize {
  position: absolute;
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
}

.minor-prize {
  grid-row: 2;
  border: none;
  display: flex;
  /* Centra orizzontalmente */
  justify-content: center;
  /* Centra verticalmente */
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: yellow;
  top: 0;
  transform: translateY(-580%);
}

.major-prize {
  grid-row: 1;
  /* Posiziona sulla prima riga */
  border: none;
  display: flex;
  justify-content: center;
  /* Centra orizzontalmente */
  align-items: center;
  /* Centra verticalmente */
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);  
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: yellow;
  top: 0;
  transform: translateY(-20%);
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.minor-prize.blink {
  animation: blink 0.5s linear infinite;
  /* animation-duration: 10s; */
}

.major-prize.blink {
  animation: blink 0.5s linear infinite;
  /* animation-duration: 10s; */
}

.btn {
  margin-top: 20px;
  font-size: 24px;
  font-family: 'Darker Grotesque', sans-serif;
  padding: 4px 20px 8px 20px;
  /* width: 50%; */
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid rgb(0, 23, 50);
  border-radius: 50px;
}

.btn:hover {
  background-color: rgb(203, 224, 221);
}

.btn-full {
  width: 100%;
}

.stack {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: url('images/button_unpressed.png');
  background-size: cover;
  display: block;
  margin: auto;
}

.nostack {
  background-image: none;
}

.insertCoinBtn {
  margin-top: 20px;
  font-size: 24px;
  font-family: 'Darker Grotesque', sans-serif;
  padding: 4px 20px 8px 20px;
  /* width: 50%; */
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid rgb(0, 23, 50);
  border-radius: 50px;
}

.insertCoinBtn:hover {
  background-color: #c31c91bc;
}

.insertCoinBtn-full {
  width: 100%;
}

.game-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.coins {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.score {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* # Griglia di gioco */

.game-board {
  position: relative;
  margin-bottom: 8px;
  display: grid;
  border: 1px solid rgb(0, 23, 50);
  box-shadow: 10px 10px 10px rgb(216, 216, 220);
  -webkit-box-shadow: 0px 0px 30px 8px rgba(212, 218, 194, 1);
  -moz-box-shadow: 0px 0px 30px 8px rgba(212, 218, 194, 1);
  box-shadow: 0px 0px 30px 8px rgba(212, 218, 194, 1);
}

.game-container {
  width: calc((48px * 6) + 4px);
  justify-content: center;
}

.grid {
  width: calc((48px * 6) + 4px);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.cell-dark {
  background-color: rgb(203, 224, 221, 0.5);
}

.bar {
  background-color: #f1754e;
  border-radius: 8px;
  border: 2px solid rgb(0, 23, 50);
}

/* # Game over */
.end-game-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(232, 207, 13, 0.4);

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.win {
  background-color: rgba(31, 212, 64, 0.4);
}

.end-game-text {
  font-size: 48px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}


/* # Utilities */

.hidden {
  display: none;
}